.triangleView {
  background-color: blue;
}

#circle {
  border-radius: 50%;
  z-index: 0;
  position: absolute;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid pink;
  z-index: 1;
  position: absolute;
  left: 100px; 
}

#vline {
  width: 3px; 
  height: 100%; 
  position: absolute; 
  z-index: 2;
  background-color: black; 
  left: 250px; 
}

#hline {
  width: 100%; 
  height: 3px; 
  position: absolute; 
  z-index: 2;
  background-color: black; 
  top: 250px; 
}
